<header class="header">
  <div class="flex inner">
    <ul class="headerNavLeft flex align">
      <li class="headerNavLeft_li">
        <a class="headerNavLeft_a" href="#"><%= image_tag("home_icon.png", :class => "headerNavLeft_img") %></a>
      </li>
      <li class="headerNavLeft_li">
        <form action="">
          <input type="text" placeholder="キーワード検索">
        </form>
      </li>
      <!-- <li class="headerNavLeft_li"><a class="headerSubNav_a" href="#">設定</a></li>
      <li class="headerNavLeft_li"><a class="headerSubNav_a" href="#">ログアウト</a></li> -->
    </ul>
    <ul class="headerNavCenter">
      <li class="headerNavCenter_li"><a class="headerNavCenter_a" href="#"><%= image_tag("ellipse.png", :class => "headerNavCenter_img") %></a></li>
    </ul>
    <ul class="headerNavRight">
      <!-- <li class="headerNavRight__li"><a class="headerNavRight__a" href="#"><%= image_tag("home_icon.png") %></a></li> -->
      <li class="headerNavRight__li">
        <a class="headerNavLeft_a" href="#">
          <%= image_tag("messageIcon.png", :class => "headerNavRight__img") %>
        </a>
      </li>
      <li class="headerNavRight__li">
        <a class="headerNavLeft_a" href="#">
          <%= image_tag("notificationIcon.png", :class => "headerNavRight__img") %>
        </a>
      </li>
      <li class="headerNavRight__li">
        <a class="headerNavLeft_a" href="#">
          <%= image_tag("menuIcon.png", :class => "headerNavRight__img") %>
        </a>
      </li>
      <li class="headerNavRight__li">
        <a class="headerNavRight__a" href="#">
          <%= image_tag("pfThumb.png", :class => "headerNavRight__img") %>
          <span class="headerNavRight__a_span">鈴木 祐依</span>
        </a>
      </li>
      <li class="headerNavRight__li">
        <a class="headerNavRight__a" href="#"></a>
      </li>
    </ul>
    <!-- <div class="flex align">
      <form action="">
        <input type="text" placeholder="キーワード検索">
      </form>
    </div> -->

  </div>
</header>
